
html, body, :global(#root) {
  width: 100%;
  margin: 0;
}
:global(#root){
  overflow: hidden;
}
a{
  text-decoration: none;
  color:#108EE9 ;
}
.pace .pace-activity{
  right: 20px !important;
}
header .ant-menu li{
  border-bottom: none !important;
}
header .ant-menu:hover li{
  border-bottom: none !important;
}


.ant-pagination-prev{
  padding:8px 16px !important;
}


